@charset "UTF-8";

* {
    font-family:  Sans-serif;
    height: 40px;
}

body {
    background-image: linear-gradient(to right, #F2958D,#F24B4B,#D90404 );
}

main {
    background-color: azure;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
    color: black;
}